{% extends 'base.html.twig' %}

{% block title %}Chokalatte | {{ product.name }}{% endblock %}

{% block body %}
    <div class="title">
        <div class="container">
            <div class="row">
                <h1>{{product.name}}</h1>
            </div>
        </div>    
    </div>
    <div class="product-details">
        <div class="container">
            <div class="product-container">
                <div class="product-image">
                    <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.name }}">
                </div>
                <div class="product-info">
                    <div class="product-info-container">
                        <div class="prduct-info-flex">
                            <div class="product-info-header">
                                <!--<h1>{{ product.name }}</h1>-->
                                <p>{{ product.description }}</p>
                            </div>
                            <div class="product-info-speciality">
                                <h2>{{ product.speciality.name }}</h2>
                                <p>{{ product.speciality.description }}</p>
                            </div>

                            <div class="product-info-price">
                                <p>{{ product.price / 100|number_format(2, '.', ',') }} €</p>
                            </div>
                        </div>    
                            <div class="product-info-add-to-cart">
                                <a class="abstract-button menu-button" href="{{ path('cart_add', {'id': product.id}) }}">Add to cart</a>
                            </div>
                    </div>    
                </div>
            </div>
        </div>    
    </div>








    <h2>Other Drinks from {{ product.speciality.name }}</h2>

    <div class="menu">
        {% for otherProduct in product.speciality.products %}
            {% if otherProduct.id != product.id %}
                <div class="menu-item">
                    <div class="menu-item-img">
                        <!-- Ajoutez une image pour chaque produit si nécessaire -->
                        <img src="{{ vich_uploader_asset(otherProduct, 'imageFile') }}" alt="{{ otherProduct.name }}">
                    </div>
                    <div class="menu-item-text">
                        <h3>{{ otherProduct.name }}</h3>
                    </div>
                    <a href="{{ relative_path('/menu/drinks/' ~ otherProduct.slug) }}" class="abstract-button secondary-button">Order Now</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
