{% extends 'base.html.twig' %}

{% block title %}Chokalatte | {{ category.name }}{% endblock %}

{% block body %}
    <div class="title">
        <div class="container">
            <div class="row">
                <h1>{{category.name}}</h1>
            </div>
        </div>    
    </div>
    {#{% for speciality in specialities %}
        <div>
            <h2>{{ speciality.name }}</h2>
            <p>{{ speciality.description }}</p>
            <ul>
                {% for product in speciality.products %}
                    <li>{{ product.name }} - {{ (product.price / 100)|number_format(2, '.', ',') }} €</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}#}
    <!-- Menu section --> 
    <section id="menu">
        <div class="container">
            <div class="menu">
                {% for speciality in specialities %}
                    <h2 class="speciality-name">{{ speciality.name }} ✨</h2>
                    {% for product in speciality.products %}
                        <div class="menu-item">
                            <div class="menu-item-img">
                                <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.name }}">
                            </div>
                            <div class="menu-item-text">
                                <h3>{{ product.name }}</h3>
                                <p>{{ product.description|slice(0, 100) }}...</p>
                                <p class="price">{{ product.price / 100|number_format(2, '.', ',') }} €</p>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_USER') %}
                                    <a href="{{ path('app_product_details', {'slug': product.slug}) }}" class="abstract-button menu-button">Order Now</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}