{% extends 'base.html.twig' %}

{% block title %}Chokolatte | Login{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login_register.css') }}">
{% endblock %}

{% block body %}

<div class="container security-form security-page flex-wrap">

    <div class="form-spacing display-flex text-align-center justify-content-center">

        <div class="form-area">

            <form method="post">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="logo">
                    <img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo-img">
                </div>

                <h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>
                    <p>Welcome Back !</p>

                    <div class="form-field">
                        <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email...">
                    </div>

                    <div class="form-field">
                        <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Password...">
                    </div>

                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>           

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}
