{% extends 'base.html.twig' %}

{% block title %}Chokalatte | Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login_register.css') }}">
{% endblock %}

{% block body %}

<div class="container security-form security-page flex-wrap">
    <div class="form-spacing display-flex text-align-center justify-content-center">
        <div class="form-area">
            <div class="logo">
                <img src="{{ asset('images/logo.png') }}" alt="Logo" class="logo-img">
            </div>

            <h1 class="h3 mb-3 font-weight-normal">Register Now</h1>
                <p>Glad to see you join Us !</p>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                <div class="form-field">
                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control','placeholder': "email of inscription..."}}) }}
                </div>

                <div class="form-field">
                    {{ form_row(registrationForm.firstName, {'attr': {'class': 'form-control','placeholder': "first name of inscription..."}}) }}
                </div>

                <div class="form-field"> 
                    {{ form_row(registrationForm.lastName, {'attr': {'class': 'form-control','placeholder': "last name of inscription..."}}) }}
                </div>

                <div class="form-field">
                    {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': "password of inscription..."}, 'label': 'Password'}) }}
                </div>

                <div class="mb-3">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>

{% endblock %}
