<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home | Chokolatte{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}"/>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/header.css') }}">
            <link rel="stylesheet" href="{{ asset('css/newsletter.css') }}">
            <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
        
            <link rel="stylesheet" href="{{ asset('css/login_register.css') }}">
            <link rel="stylesheet" href="{{ asset('css/home.css') }}">
            <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
                <link rel="stylesheet" href="{{ asset('css/details.css') }}">
            <link rel="stylesheet" href="{{ asset('css/about.css') }}">
            <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

    <!-- Header section --> 
        <section id="header">
            <div class="top-header">
              <p class="top-header-text">
                {% if app.user %}
                  ⸜(｡˃ ᵕ ˂ )⸝♡ Glad to see you back, {{ app.user.firstName }} !!!
                {% else %}
                  ヾ(•＾▽＾•) Welcome on our website !
                {% endif %}
              </p>
            </div>
            <header class="header">
                <nav>
                    <div class="header-logo">
                        <a href="{{ path('app_home') }}">
                            <img src="{{ asset('images/logo_transparent.webp') }}" alt="Logo" class="logo-img">
                        </a>    
                    </div>
                    <div class="header-wrapper">
                        <div class="header-items">
                        
                            <ul class="primary-navigation">
                                <li class="primary-navigation-list">
                                    <a href="{{ path('app_menu') }}" class="primary-navigation-link"><span>Menu</span></a>
                                </li>
                                <li class="primary-navigation-list">
                                    <a href="#" class="primary-navigation-link"><span>Ingredients</span></a>
                                </li>
                                <li class="primary-navigation-list">
                                    <a href="#" class="primary-navigation-link"><span>Our Services</span></a>
                                </li>
                                 <li class="primary-navigation-list">
                                    <a href="{{ path('app_about') }}" class="primary-navigation-link"><span>About Us</span></a>
                                </li>
                                 <li class="primary-navigation-list">
                                    <a href="#" class="primary-navigation-link"><span>Contact</span></a>
                                </li>
                            </ul>

                            <ul class="secondary-navigation">
                                {% if app.user %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li class="admin-button">
                                            <a class="abstract-button secondary-button" href="{{ path('app_admin') }}"><span>Administration</span></a>
                                        </li>
                                    {% else %}
                                        <li class="login-button">
                                            <a class="abstract-button secondary-button" href="#"><span>{{ app.user.firstName }}</span></a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li class="login-button">
                                        <a class="abstract-button secondary-button" href="{{ path('app_login') }}"><span>Login</span></a>
                                    </li>
                                {% endif %}

                                {% if app.user %}
                                    <li> 
                                        <a class="abstract-button secondary-button" href="{{ path('app_logout') }}"><span>Logout</span></a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="abstract-button secondary-button" href="{{ path('app_register') }}"><span>Join us !</span></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </section>

        {% block body %}{% endblock %}

    <!-- Newsletter section -->
        <section id ="newsletter">
            <div class="newsletter">
                <div class="container">
                    <div class="row">
                        <div class="newsletter-column">
                            <h2>Subscribe to our newsletter</h2>
                            <p>Stay connected with us for our latest news and promotions. 🤭</p>
                            <form>
                                <div class="newsletter-form-controls">
                                    <div class="newsletter-form-input">
                                        <input class="newsletter-input-field" type="email" placeholder="your email address" required>
                                    </div>
                                    <div>
                                        <button class="abstract-button secondary-button newsletter-button" type="submit">Subscribe</button>
                                    </div>
                                    <div>
                                        <div class="newsletter-checkbox">
                                            <label>
                                                Find required informations on our <a href="#" class="a-link">Politique de confidentialité.</a>
                                                <br>
                                                You can unsubscribe at any time !!!
                                            </label>
                                        </div>
                                    </div>
                                </div>    
                            </form>    
                        </div>

                        <div class="newsletter-column">                    
                            <h2>Our others stores</h2>
                            <p>We have more than ? stores in the world. 🌍</p>
                            <div class="stores-list">
                                <ul>
                                    <li class="stores-list-item"><a href="#"><img src="{{ asset('images/paris.png') }}" alt="Paris store">Paris 🥖, France</a></li>
                                    <li class="stores-list-item"><a href="#"><img src="{{ asset('images/london.png') }}" alt="Paris store">London 💂‍♀️, United Kingdom</a></li>
                                    <li class="stores-list-item"><a href="https://en.wikipedia.org/wiki/New_York_City"><img src="{{ asset('images/new-york.png') }}" alt="Paris store">New York City 🗽, USA</a></li>
                                </ul>    
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
        </section>

    <!-- Footer section -->
        <section id="footer">
            <div class="divider"></div>
                <footer>
                    <p>𝄃𝄃𝄂𝄂𝄀𝄁𝄃𝄂𝄂𝄃 2024/{{ "now"|date("Y") }} Nathan Emile &copy;. Tous droits réservés.</p>
                </footer>
        </section>

    </body>
</html>
