{% extends 'base.html.twig' %}

{% block title %}Chokalatte | Menu{% endblock %}

{% block body %}
    <div class="title">
        <div class="container">
            <div class="row">
                <h1>Hourly Schedule</h1>
            </div>
        </div>    
    </div>
    <!-- Menu section --> 
    <section id="menu">
        <div class="container">
            <div class="menu">
                {% for category in categories %}
                    <div class="menu-item">
                        <div class="menu-item-img">
                            <img src="{{ vich_uploader_asset(category, 'imageFile') }}" alt="{{ category.name }}">
                        </div>
                        <div class="menu-item-text">
                            <h3>{{ category.name }}</h3>
                            <p>{{ category.description }}</p>
                            <a href="menu/{{ category.slug}}" class="abstract-button menu-button">{{ category.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
