{% extends 'base.html.twig' %}

{% block title %}Chokalatte | Menu{% endblock %}

{% block body %}
    <div class="hourly">
        <div class="container">
            <div class="row">
                <h1>Hourly Schedule</h1>
            </div>
        </div>    
    </div>

    <section id="menu">
        <div class="container">
            <div class="menu">
                {% for category in categories %}
                    <div class="menu-item">
                        <div class="menu-item-img">
                            <img src="{{ vich_uploader_asset(category, 'imageFile') }}" alt="{{ category.name }}">
                        </div>
                        <div class="menu-item-text">
                            <h3>{{ category.name }}</h3>
                            <p>{{ category.description }}</p>
                        </div>
                            <a href="menu/{{ category.slug}}" class="abstract-button secondary-button">{{ category.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
{% endblock %}


    {# <section id="menu">
        <div class="menu">
            <h1>Menus</h1>
            <ul>
                {% for category in categories %}
                    <ul>
                        <li>{{ category.name }}</li>
                        <li>{{ category.description }}</li>
                    </ul>    
                {% endfor %}
            </ul>
        </div>
    </section> #}
